<div class="app-layout">
  <!-- Header -->
  <app-header></app-header>

  <!-- Phần thân: Sidebar + Nội dung -->
  <div class="main-body">
    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Logo -->

      <!-- Menu -->
      <ul class="menu-list">
        <li>
          <a routerLink="/admin/student" class="menu-item"
            >Danh sách học sinh</a
          >
        </li>
        <li>
          <a routerLink="/admin/teacher" class="menu-item"
            >Danh sách giáo viên</a
          >
        </li>
        <li>
          <a routerLink="/admin/course" class="menu-item">Danh sách học phần</a>
        </li>
        <li>
          <a routerLink="/admin/clazz" class="menu-item">Danh sách lớp</a>
        </li>
        <li>
          <a routerLink="/admin/semester" class="menu-item"
            >Quản lí đăng kí kì học</a
          >
        </li>
        <li><a routerLink="/admin/schedule" class="menu-item">Tạo tkb</a></li>

        <li>
          <a routerLink="/admin/class-list" class="menu-item"
            >Quản lí tài khoản sinh viên</a
          >
        </li>
      </ul>
    </div>

    <!-- Nội dung -->
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
