<div class="container-fluid mt-4 px-4">
  <div class="container-fluid mt-3 px-3">
    <div class="text-center">
      <h2 class="title-heading">Danh sách sinh viên</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 d-flex justify-content-start mb-3">
      <button class="btn btn-info me-2" style="width: 150px;" (click)="toggleSearch()">
        <i class="fa fa-search me-1"></i> Tìm kiếm
      </button>
      <button class="btn btn-secondary me-2" style="width: 150px;" (click)="toggleFile()">
        <i class="fa fa-file me-1"></i> File
      </button>
      <button class="btn btn-warning" style="width: 150px;" (click)="toggleTableVisibility()">
        {{ isTableVisible ? 'Ẩn danh sách' : 'Hiện danh sách' }}
      </button>
    </div>

    <div class="modal fade" tabindex="-1" [ngClass]="{'show d-block': isSearchVisible}" style="background: rgba(0,0,0,0.4);">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Tìm kiếm Sinh Viên</h5>
            <button type="button" class="close" (click)="toggleSearch()">×</button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="mssvInput" class="form-label bold-label">Tìm theo MSSV</label>
              <div class="input-group">
                <input id="mssvInput" type="text" class="form-control" placeholder="Nhập MSSV" [(ngModel)]="mssvSearch">
                <button class="btn btn-primary btn-sm-search" (click)="searchStudent()">
                  <i class="fa fa-search"></i> Tìm
                </button>
              </div>
            </div>

            <div class="form-group">
              <label for="batchInput" class="form-label bold-label">Tìm theo khóa học</label>
              <div class="input-group">
                <input id="batchInput" type="text" class="form-control" placeholder="Nhập khóa học" [(ngModel)]="batchSearch">
                <button class="btn btn-primary btn-sm-search" (click)="searchByBatch()">
                  <i class="fa fa-search"></i> Tìm
                </button>
              </div>
            </div>

            <div class="form-group">
              <label for="maCtInput" class="form-label bold-label">Tìm theo CTĐT</label>
              <div class="input-group">
                <input id="maCtInput" type="text" class="form-control" placeholder="Nhập mã CTĐT" [(ngModel)]="maCtSearch">
                <button class="btn btn-primary btn-sm-search" (click)="searchByCtdt()">
                  <i class="fa fa-search"></i> Tìm
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="isFileVisible" class="col-md-12 mt-3">
      <div class="row">
        <div class="col-md-3">
          <div class="mb-2">
            <label class="form-label">Import / Export</label>
            <input type="file" (change)="onFileSelected($event)" class="form-control mb-2">
            <div class="d-flex justify-content-between">
              <button class="btn btn-success" (click)="importStudents()">Import</button>
              <button class="btn btn-warning" (click)="exportStudents()">Export</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-12" *ngIf="isTableVisible">
      <div style="overflow-x: auto;">
        <table class="table table-bordered table-striped table-hover">
          <thead class="table-info text-center">
            <tr>
              <th class="text-center align-middle">MSSV</th>
              <th class="text-center align-middle">Tên</th>
              <th class="text-center align-middle">Ngày sinh</th>
              <th class="text-center align-middle">Giới tính</th>
              <th class="text-center align-middle">Email</th>
              <th class="text-center align-middle">Điện thoại</th>
              <th class="text-center align-middle">CCCD</th>
              <th class="text-center align-middle">Khoa</th>
              <th class="text-center align-middle">Khoá học</th>
              <th class="text-center align-middle">Địa chỉ</th>
              <th class="text-center align-middle">CTĐT</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let student of students | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{ student.mssv }}</td>
              <td>{{ student.name }}</td>
              <td>{{ student.dateOfBirth }}</td>
              <td>{{ student.gender }}</td>
              <td>{{ student.email }}</td>
              <td>{{ student.phone }}</td>
              <td>{{ student.cccd }}</td>
              <td>{{ student.departmentName }}</td>
              <td>{{ student.batchName }}</td>
              <td>{{ student.address }}</td>
              <td>{{ student.tenCth }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination-controls
        (pageChange)="p = $event"
        previousLabel="«"
        nextLabel="»"
        class="d-flex justify-content-center mt-3">
      </pagination-controls>
    </div>

    <div *ngIf="!isTableVisible" class="col-md-12 mt-3">
      <div class="alert alert-info">
        Danh sách sinh viên đã được ẩn. Nhấn nút "Hiện danh sách" để xem.
      </div>
    </div>
  </div>
</div>