.container {
  padding: 20px;
}

h2 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

label {
  font-weight: bold;
  margin-right: 10px;
}

select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  width: auto;
  max-width: 200px; /* Điều chỉnh giá trị này nếu cần */
  height: auto;
}

.mt-3 {
  margin-top: 1rem !important;
}

input.form-control-sm {
  max-width: 200px; /* Áp dụng max-width tương tự cho input */
}

.table-responsive {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.table {
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  border: 1px solid #000;
  border-radius: 8px;
}

.table th,
.table td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.table th {
  background-color: #72d2e1;
  font-weight: bold;
  color: black;
}

.table th:first-child,
.table td:first-child {
  text-align: left;
}

.error {
  color: red;
  margin-top: 10px;
  text-align: center;
}